x@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title_row {
  font-size: 4vw;
  margin: auto;
  min-width: 2vw;
  max-width: 2vw;
}

.app_title_font {
  font-family: 'Sriracha', cursive;
}


.square_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.square_check_box {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
}

.bit_square_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

#square_0 {
  padding:1px;
  min-width: 10vw;
  max-width: 10vw;
}

#square_1 {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 10vw;
  max-width: 10vw;
}

#square_2 {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 10vw;
  max-width: 10vw;
}

#square_3 {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 10vw;
  max-width: 10vw;
}

#square_4 {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 10vw;
  max-width: 10vw;
}

.active_square {
  background: #228B22;
  border-radius: 10px;
}

.inactive_square {
  background: #606060;

}

.square {
  color: white;
  min-height: 9vw;
  max-height: 9vw;
  min-width: 82%;
  max-width: 82%;
  width:90%;
  display: inline-block;
  line-height: 1.7vw;
  margin: auto;
  font-size: 1.1vw;
  padding: .4vw;

  
}



.big_square {
  color: white;
  background: #606060;
  min-height: 15vw;
  max-height: 15vw;
  min-width: 15vw;
  max-width: 15vw;
  line-height: 1.9vw;
  margin: auto;
  font-size: 1.3vw;
  font-size: 1.8vw;
  padding: .4vw;
  
}


.border-right {
  border-right: 1px solid black;
}

.small_square {
  color: white;
  min-height: 1vw;
  max-height: 1vw;
  
  line-height: 0.3vw;
  margin: 0.1vw;
  font-size: 0.3vw;
  padding: .4vw;
}


.active_small_square {
  background: #228B22;
  border-radius: 10px;
}

.inactive_small_square {
  background: #606060;
  border-radius: 10px;
}

#small_square_0 {
  padding: 0 0;
  min-width: 1.5vw;
  max-width: 1.5vw;
  height: 100%;
  
}

#small_square_1 {
  padding: 0 0;
  min-width: 1.5vw;
  max-width: 1.5vw;
  
}

#small_square_2 {
  padding: 0 0;
  min-width: 1.5vw;
  max-width: 1.5vw;
  
}

#small_square_3 {
 padding: 0 0;
  min-width: 1.5vw;
  max-width: 1.5vw;
  
}

#small_square_4 {
  padding: 0 0;
  min-width: 1.5vw;
  max-width: 1.5vw;
  
}

#griswold {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#griswold img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#login_form {
  position: relative;
}

#DadBingoNavBarMainPage .navbar{
  position: absolute;
  width: 100%;
  z-index: 15;
  top: 18vw;
  left: 0vw;
  margin: 0vw 0 0 0vw;
  background: red;
}

.no_new_line {
  display: inline;
}

#alignRight {
  float: right;
}